/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 1rem;
}

name {
    justify-content: flex-end;
}

.header-title {
    flex: 1;
}

.new-post-button button {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.new-post-button button:hover {
    background-color: #000;
    color: #fff;
}

.thumbnail-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
    grid-gap: 20px; /* 그리드 간격 설정 */
    max-width: 1000px;
    margin: 20px auto;
}

.thumbnail-post {
    text-align: center;
}

.thumbnail-post img {
    max-width: 100%;
    height: auto;
}

.thumbnail-post h3 {
    margin-top: 10px;
}